.contactPage {
    margin: 3rem auto 0rem auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.clientImages {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;

}

.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;

}

#clients {
    padding: 2rem;
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}


.name,
.email,
.msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
    flex-wrap: wrap;
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    transition: transform 0.3s ease;
}

.submitBtn:active {
    transform: scale(0.8);
}


.links {
    /* border: 1px solid white; */
    max-width: 375px;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.linkWrapper{
    /* border: 1px solid white; */
    width: 65px;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
}


.link1 {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    padding: 0 1-rem;
    width: 80%;
    transition: transform 0.3s ease;
}

.link2 {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    padding: 0 1-rem;
    width: 80%;
    transition: transform 0.3s ease;
}

.link3{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    padding: 0 1-rem;
    width: 85%;
    transition: transform 0.3s ease;
}

.link4{
    object-fit: cover;
    /* height: 60%; */
    /* width: 3rem; */
    margin: 0 0.75rem;
    padding: 0 1-rem;
    width: 70%;
    transition: transform 0.3s ease;
}

.link5{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    padding: 0 -1rem;
    width: 70%;
    transition: transform 0.3s ease;
}

.link1:active, .link2:active, .link3:active, .link4:active, .link5:active {
    transform: scale(0.8);
}
@media screen and (max-width: 425px) {
    .linkWrapper{
        width: 55px;
        height: 50px;
    }
}