#works {
  margin: 0rem auto 0rem auto;
  min-height: calc(100vh - 40rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.worksTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.worksDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 45rem;
}

.worksImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 120vw; /* Set to 120vw to fit both images */
  max-width: 65rem;
}


.worksImg {
  object-fit: cover;
  height: 15rem; /* Increased height for better fit */
  width: calc(40% - 1rem); /* Set width for two columns */
  margin: 0.5rem;
  border-radius: 1rem; /* More rounded angles */
  transition: transform 0.3s ease;
}

.worksImg:active {
  transform: scale(0.8);
}

.WorkBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  padding: 0 1.3rem;
  border-radius: 2rem;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.WorkBtn:active {
  transform: scale(0.8);
}

.GithubImg {
  object-fit: cover;
  height: 1.2rem;
  width: 1.2rem;
  margin: 1rem;
}

@media screen and (max-width: 1032px) {
  #works{
    display: flex;
    flex-direction: column;
  }

  .worksImg {
    height: 40vw; /* Adjusted for mobile screens */
    width: 90%; /* Full width for mobile */
    border-radius: 1rem; /* More rounded angles */
  }

  .worksImgs {
    width: 90vw; /* Set to 100vw for single dashboard display */
    justify-content: center; /* Center alignment */
  }
}
